version: '3.7'

services:
    pgadmin:
      image: dpage/pgadmin4
      ports:
        - "9999:80"
      logging:
        driver: none
      environment:
        PGADMIN_DEFAULT_EMAIL: test@test.com
        PGADMIN_DEFAULT_PASSWORD: test
      depends_on:
        - db
      volumes:
        -  /etc/timezone:/etc/timezone:ro
        -  /etc/localtime:/etc/localtime:ro
        
    bot:
      build:
        context: .
      command: python app.py
      restart: on-failure
      env_file:
        - .env
      volumes:
        - ./Web/media:/src/Web/media
        - ./Logs:/src/Logs
        -  /etc/timezone:/etc/timezone:ro
        -  /etc/localtime:/etc/localtime:ro
      depends_on:
        - db
        - redis 
        - minio
        
    django:
      build:
        context: .
        dockerfile: Dockerfile
      command: >
        sh -c "python manage.py collectstatic --noinput&&
        python manage.py runserver 0.0.0.0:8080 --noreload"
      ports:
        - 80:8080
      restart: always
      env_file:
        - ".env"
      depends_on:
        - db
        - minio
      volumes:
        - ./Web/static:/src/Web/static
        - ./Web/media:/src/Web/media
        - ./Web/CRM/migrations:/src/Web/CRM/migrations       
        
 
    db:
      image: postgres:14 
      restart: always
      hostname: ${POSTGRES_SERVER}
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
        POSTGRES_PORT: ${POSTGRES_PORT}
        TZ: 'GMT-3'
        PGTZ: 'GMT-3'
      volumes:
        - ./pg_data:/var/lib/postgresql/data
        -  /etc/timezone:/etc/timezone:ro
        -  /etc/localtime:/etc/localtime:ro
      ports:
        - "${POSTGRES_PORT}:5432"
      command: postgres -c 'max_connections=512'


    redis:
      image: redis
      restart: on-failure
      volumes:
        - ./redis-data:/data
        -  /etc/timezone:/etc/timezone:ro
        -  /etc/localtime:/etc/localtime:ro
        
        
    minio:
      image: minio/minio
      ports:
        - "9002:9002"
        - "40135:40135"
      volumes:
        - ./minio-data:/data
        -  /etc/timezone:/etc/timezone:ro
        -  /etc/localtime:/etc/localtime:ro
      environment:
        MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
        MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      command: server --address 0.0.0.0:9002 --console-address ":40135" /data



